.item-count {
  position: absolute;
  top: 6px;
  right: 14px;
  border: 1px solid white;
  border-radius: 3rem;
  background: red;
  text-align: center;
  border-radius: 7px;
  width: 20px;
  height: 20px;
  background-color: #ff6161;
  border: 1px solid #fff;
  font-weight: 400;
  color: #f0f0f0;
  line-height: 16px;
  font-size: 12px;
}